{% extends 'base.jinja' %}
{% block content %}
<div class="container">

  <form action="/trainers/{{trainer.id}}" method="POST">
  <ul>
    <li><label for="name">Name:</label>
    <input type="text" id="name" name="name" required value="{{trainer.name}}"></li>

    <li><label for="contact">Contact:</label>
    <input type="text", id="contact" name="contact" required value="{{trainer.contact}}"></li>

    <li><label for="nurse">Assigned Nurse:</label>
    <select name="nurse", id="nurse">
        <option value="None">None</option>
      {% for nurse in nurses %}
        <option value={{nurse.id}} {% if assigned_nurse.name == nurse.name %}selected{% endif %}>{{nurse.name}}</option>
      {% endfor %}
    </select></li>

    <button class="primary__button" type="submit">Update Trainer</button>
  </ul>
  </form>
</div>
{% endblock content %}