{% extends 'base.jinja' %}
{% block content %}
  <div class="container">
    <div class="title_and_button">
      <h1 class="title">Trainers:</h1>
      <a href="trainers/new"><button class="primary__button">Register Trainer</button></a>
    </div>


  <ul>
    
  {% for trainer in trainers  %}
    <li class="list__item">
    <a href="/trainers/{{trainer.id}}">{{trainer.name}}</a>
    </li>
  {% endfor %}
  </ul>
  </div>
{% endblock content %}