{% extends 'base.jinja' %}
{% block content %}

<div class="container">
  <h1 class="title">{{trainer.name}}</h1>
    <ul>
      <li>Nurse: {% if nurse == none %}
        There is no nurse assigned to {{trainer.name}} (and they cannot add anymore Pokémon).
      {% else %}
        <a href="/nurses/{{nurse.id}}">{{nurse.name}}</a>
      {% endif %}</li>
      <li>Contact: {{trainer.contact}}</li>
    </ul>

    <div class="edit_del__buttons">
    <a href="{{trainer.id}}/edit">
    <button class="primary__button">Edit Details</button></a>
    <form action="{{trainer.id}}/delete" method="post">
    <button class="secondary__button">Delete Trainer</button>
    </form>
    </div>



  <h2 class="title"> {{trainer.name}}'s Pokémon: {{assigned_pokémon|length}}</h2>
    {% if assigned_pokémon == [] %} {#checking if the list is empty#}
    <p>No pokémon have been assigned to {{trainer.name}}</p>
    {% endif %}
    <ul>
    {% for single_pokémon in assigned_pokémon %}
      <li>
      {% if single_pokémon.nickname is not none %}
        <a href="/pokémon/{{single_pokémon.id}}">{{single_pokémon.nickname}} ({{single_pokémon.dex.name |capitalize}})</a>
        {%else%}
        <a href="/pokémon/{{single_pokémon.id}}">{{single_pokémon.dex.name|capitalize}}</a>
      {% endif %}
      </li>
    {% endfor %}
    </ul>
</div>
{% endblock content %}