.edit_del__buttons {
  display: flex;
  gap: 0.5rem;
  padding: 10px 0px;
}

.primary__button {
  background-color: red;
  color: white;
  border-radius: 10px;
  padding: 5px;
}

.secondary__button {
  background-color: white;
  color: red;
  border-radius: 10px;
  padding: 5px;
}