{% extends 'base.jinja' %}
{% block content %}
  <h1>Update {{nurse.name}}:</h1>
  
  <form action="/nurses/{{nurse.id}}" method="POST">

    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required value="{{nurse.name}}">

    <button type="submit">Update Nurse details</button>
  </form>
{% endblock content %}