{% extends 'base.jinja' %}
{% block content %}
<div class="container">
  <h1 class="title">Nurses:</h1>
  <ul>
  {% for nurse in nurses  %}
    <li><a href="/nurses/{{nurse.id}}">{{nurse.name}}</a></li>
  {% endfor %}
  </ul>
</div>
{% endblock content %}