{% extends 'base.jinja' %}
{% block content %}
  <h1>Nurses:</h1>
  <ul>
  {% for nurse in nurses  %}
    <li><a href="/nurse/{{nurse.id}}">{{nurse.name}}</a></li>
  {% endfor %}
  </ul>
{% endblock content %}