{% extends 'base.jinja' %}
{% block content %}
<div class="container">
  <h1 class="title">Register a new Nurse:</h1>
  <ul>
  <form action="/nurses" method="POST">

    <li><label for="name">Name:</label>
    <input type="text" id="name" name="name" required></li>

    <button class="primary__button" type="submit">Register Nurse</button>
  </form>
  </ul>
</div>
{% endblock content %}