{% extends 'base.jinja' %}
{% block content %}
  <h1>{{nurse.name}}</h1>
  
  Todo: Show all pokemon assigned to a nurse.

    <a href="{{nurse.id}}/edit"><button>Edit Details</button></a>
{% endblock content %}