{% extends 'base.jinja' %}
{% block content %}

<div class="container">
  <h1 class="title">{{nurse.name}}</h1>
  
    <div class="edit_del__buttons">
    <a href="{{nurse.id}}/edit">
    <button class="primary__button">Edit Details</button></a>
    <form action="{{nurse.id}}/delete" method="post">
    <button class="secondary__button">Delete Nurse</button>
    </form>
    </div>
  <h2 class="title"> Assigned Trainers:</h2>
    {% if assigned_trainers == none %}
    <p>No trainers have been assigned to {{nurse.name}}</p>
    {% else %}
    <ul>
    {% for trainer in assigned_trainers %}
      <li>
        <a href="/pokémon/{{trainer.id}}">{{trainer.name}}</a>
      </li>
    {% endfor %}
    {% endif %}
    </ul>
</div>
{% endblock content %}