<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
</head>
<body>
  <nav>
  <a href="/">Home</a>
  <a href="/pokémon">Pokémon</a>
  <a href="/pokémon/new_pokémon">Register Pokémon</a>
  <a href="/nurses">Nurses</a>
  </nav>

  {% block content %}
    
  {% endblock content %}
</body>
</html>