<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/lists.css') }}">
  <title>{{ title }}</title>
</head>
<body>
<div class="navbar__background">
    <div class="container">
    <nav class="navbar__items">
      <img src="/static/images/Poké_Ball_icon.png" height="20px">
      <a href="/">Home</a>
      <a href="/pokémon">Pokémon</a>
      <a href="/pokémon/new_pokémon">Register Pokémon</a>
      <a href="/nurses">Nurses</a>
      <a href="/nurses/new">Register Nurse</a>
    </nav>
  </div></div>

  {% block content %}
    
  {% endblock content %}

</body>
</html>