{% extends "base.jinja" %}
{% block content %}
  <div class="welcome container">
    <h1 class= welcome__header>WELCOME TO THE POKÉMON CENTER MANAGEMENT SYSTEM</h1>
  <h3 class="welcome__subheader">Use the Navigation Bar above to go other pages</h3>
{% endblock content %}