{% extends 'base.jinja' %}
{% block content %}
  <div class="container">
  {% if single_pokémon.nickname != None %}
    <h1>Update {{single_pokémon.nickname}} ({{single_pokémon.species}})</h1>
  {% else %}
    <h1>Update {{single_pokémon.species}}</h1>
  {% endif %}
  <ul>
  <form action="/pokémon/{{single_pokémon.id}}" method="POST">

    <li><label for="species">Pokémon Species:</label>
    <input type="text" id="species" name="species" value="{{single_pokémon.species}}" required></li>

    <li><label for="nickname">Nickname:</label>
    <input type="text" id="nickname" name="nickname" {% if single_pokémon.nickname != None %}Value="{{single_pokémon.nickname}}"{% endif %}></li>

    <li><label for="trainer">Trainer:</label>
    <select name="trainer", id="trainer">
      {% for trainer in trainers %}
        <option value={{trainer.id}} {% if trainer.id == single_pokémon.trainer %}selected{% endif %}>{{trainer.name}}</option>
      {% endfor %}
    </select></li>

    <li><label for="date_of_birth">Date of Birth (DD/MM/YYYY):</label>
    <input type="text" id="date_of_birth" name="date_of_birth" {% if single_pokémon.dob != None %}Value="{{single_pokémon.dob}}"{% endif %}></li>

    <li><label for="treatment_notes">Treatment Notes:</label>
    <input type="text" id="treatment_notes" name="treatment_notes" {% if single_pokémon.treatment_notes !=None %}value="{{single_pokémon.treatment_notes}}">{% endif %}></li>
    
    <button class="primary__button" type="submit">Update Pokémon</button>
  </form>
  </ul>
  </div>
{% endblock content %}