{% extends 'base.jinja' %}
{% block content %} {#WHAT I NEED - species, nickname, dob, contact, nurse, notes#}
  <form action="" method="POST">
  <label for="Pokémon Species">Pokémon Species:</label>
  <input type="text" id="species" required value="{{single_pokémon.species}}">
  </form>
{% endblock content %}