{% extends 'base.jinja' %}
{% block content %}
  <div class="container">
    <div class="title_and_button">
      <h1 class="title">Pokémon:</h1>
      <a href="pokémon/new_pokémon"><button class="primary__button">Register Pokémon</button></a>
    </div>
  <ul>
    
  {% for single_pokémon in pokémon  %}
    <li class="list__item">
    {% if single_pokémon.nickname is not none %}
        <ul>
          <li>Name: <a href="/pokémon/{{single_pokémon.id}}">{{single_pokémon.nickname}}</a> ({{single_pokémon.dex.name|capitalize}})</li>
        
      
    {% else %}
        
        <ul>
          <li>Name: <a href="/pokémon/{{single_pokémon.id}}">{{single_pokémon.dex.name|capitalize}}</a></li>
          
    {% endif %}
            <li>Trainer: {% if single_pokémon.trainer != None %}
              {{single_pokémon.owner.name}}
              {% else %}
              THIS POKÉMON HAS NO ASSIGNED TRAINER!
            {% endif %}
            </li>
          </ul>
        </li>
  {% endfor %}
  </ul>
  </div>
{% endblock content %}