{% extends 'base.jinja' %}
{% block content %}
  <h1>Pokémon:</h1>
  <ul>
  {% for single_pokémon in pokémon  %}
    {% if single_pokémon.nickname is not none %}
      <li>
        <ul>
          <li>Name: {{single_pokémon.nickname}}</li>
          <li>Species: {{single_pokémon.species}}</li>
        
      
      {% else %}
        <li>
          <ul>
            <li>Name: {{single_pokémon.species}}</li>
          
        
      {% endif %}
            <li>Contact: {{single_pokémon.contact}}</li>
          </ul>
        </li>
  {% endfor %}
  </ul>
{% endblock content %}