{% extends 'base.jinja' %}
{% block content %}
  <div class="container">
  <h1 class="title">Pokémon:</h1>
  <ul>
    
  {% for single_pokémon in pokémon  %}
    <li>
    {% if single_pokémon.nickname is not none %}
        <ul>
          <li><a href="/pokémon/{{single_pokémon.id}}">Name: {{single_pokémon.nickname}}</a></li>
          <li>Species: {{single_pokémon.species}}</li>
        
      
    {% else %}
        
        <ul>
          <li><a href="/pokémon/{{single_pokémon.id}}">Name: {{single_pokémon.species}}</a></li>
          
    {% endif %}
            <li>Contact: {{single_pokémon.contact}}</li>
          </ul>
        </li>
  {% endfor %}
  </ul>
  </div>
{% endblock content %}