{% extends 'base.jinja' %}
{% block content %} {#WHAT I NEED - species, nickname, dob, contact, nurse, notes#}
  <form action="" method="POST">

  <label for="Pokémon Species">Pokémon Species:</label>
  <input type="text" id="species" required>

  <label for="Nickname">Nickname:</label>
  <input type="text" id="nickname">

  <label for="Date of Birth (DD/MM/YYYY):">Date of Birth (DD/MM/YYYY):</label>
  <input type="text" id="date of birth">



  </form>
{% endblock content %}