{% extends 'base.jinja' %}
{% block content %}
<div class="container">
  <h1 class="title">Register a new Pokémon:</h1>
  
  <form action="/pokémon" method="POST">
  <ul>
    <li><label for="species">Pokémon Species:</label>
    <input list="pokédexentries" id="species" name="species" required placeholder="Search">
    <datalist id="pokédexentries">
    {% for entry in pokédex %}
      <option data-value="{{entry.id}}">#{{entry.id}}: {{entry.name|capitalize}}</option>
    {% endfor %}
    </datalist>
    </li>

    <li><label for="nickname">Nickname:</label>
    <input type="text" id="nickname" name="nickname"></li>

    <li><label for="trainer">Trainer:</label>
    <select name="trainer", id="trainer">
      {% for trainer in trainers %}
        <option value={{trainer.id}}>{{trainer.name}}</option>
      {% endfor %}
    </select></li>

    <li><label for="date_of_birth">Date of Birth (DD/MM/YYYY):</label>
    <input type="text" id="date_of_birth" name="date_of_birth"></li>



    <li><label for="treatment_notes">Treatment Notes:</label>
    <input type="text" id="treatment_notes" name="treatment_notes"></li>

    <button class="primary__button" type="submit">Register Pokémon</button>
  </ul>
  </form>
</div>
{% endblock content %}