{% extends 'base.jinja' %}
{% block content %}
  <div class="container">
  {% if single_pokémon.nickname is not none %}
    <h1>{{single_pokémon.nickname}} ({{single_pokémon.species}})</h1>
  {% else %}
    <h1>{{single_pokémon.species}}</h1>
  {% endif %}
    <ul>
    <li>Contact: {{single_pokémon.contact}}</li>
    <li>Date of Birth: {% if single_pokémon.dob == None %}
      Unknown
    {% else %}
      {{single_pokémon.dob}}
    {% endif %}</li>
    </ul>

    <h2>Treatment:</h2>
    <p>Assigned Nurse:
    {% if single_pokémon.nurse is not none %}
      <a href="/nurses/{{nurse.id}}">{{nurse.name}}</a>
    {% else %}
      This Pokémon has not been assigned a nurse
    {% endif %}</p>
    {% if single_pokémon.treatment_notes == None %}
      <p>There are no treatment notes.</p>
    {% else %}
      <p>{{single_pokémon.treatment_notes}}</p>
    {% endif %}
    
    <a href="{{single_pokémon.id}}/edit"><button>Edit Pokémon</button></a>
    <form action="{{single_pokémon.id}}/delete" method="post">
    <button>Delete Pokémon</button>
    </form>
    </div>
{% endblock content %}