{% extends 'base.jinja' %}
{% block content %}
  {% if single_pokémon.nickname is not none %}
    <h1>{{single_pokémon.nickname}} ({{single_pokémon.species}})</h1>
  {% else %}
    <h1>{{single_pokémon.species}}</h1>
  {% endif %}
    <ul>
    <li>Contact: {{single_pokémon.contact}}</li>
    <li>Date of Birth: {{single_pokémon.dob}}</li>
    </ul>

    <h2>Treatment:</h2>
    <p>Assigned Nurse:
    {% if single_pokémon.nurse is not none %}
      {{nurse.name}}
    {% else %}
      This Pokémon has not been assigned a nurse
    {% endif %}</p>
    {% if single_pokémon.treatment_notes == None %}
      <p>There are no treatment notes.</p>
    {% else %}
      <p>{{single_pokémon.treatment_notes}}</p>
    {% endif %}
    
{% endblock content %}